black>=24.3.0
click>=8.1.7

flake8>=6.1.0
flake8-bugbear>=24.4.26
flake8-pie>=0.16.0

isort>=5.13.2

mypy>=1.10.0

pytest>=8.2.0
pytest-asyncio>=0.23.6

flask==3.1.0
Flask-SQLAlchemy==3.1.1
sqlalchemy==2.0.40
types-Flask>=1.1.6
types-requests>=2.31.0.10
types-flask
types-Flask-SQLAlchemy
types-SQLAlchemy
